<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

    <li class="nav-item">
    <a class="nav-link" >Gestion des devoirs </a>
    </li>

    <li class="nav-item ">
      <a class="nav-link "  routerLink="/add" >Ajouter un Devoir</a>
    </li>

    <li class="nav-item">
      <a class="nav-link active " routerLink="/home" >Afficher les Devoirs</a>
    </li>



  </ul>
  <ul class="navbar-nav ml-auto">
  <button   (click)="deconnexion();" class="btn btn-danger">
    Déconnexion
  </button>
</ul>
</nav>
<br>

<main class="container">
  <br>
  <div class="btn-block pull-right">
    <br>
                <button class="btn btn-primary btn-sm float-right" [matMenuTriggerFor]="menu">Trier les Devoirs</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="change('tout')">Tous les devoirs</button>
                    <button mat-menu-item (click)=" change('rendu');">Devoirs rendus</button>
                    <button mat-menu-item (click)=" change('autre');">Devoirs non rendus</button>
                </mat-menu>
  </div>
  <br>


    <span [ngSwitch]="valeur">
          <!-- debut card view -->
            <div *ngSwitchCase="'tout'" class="content">
              <h4>Listes de tout les devoirs</h4>
              <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let a of assignments | paginate: {
                id:'list_all',
                itemsPerPage: 4,
                currentPage: page,
                totalItems: totalRecords
                }">
              <mat-card class="example-card" >
                  <mat-card-header>
                      <div mat-card-avatar>
                          <img mat-card-image class="ImgProf" src="{{a.imageProf}}" alt="Photo du prof">
                      </div>
                    <mat-card-title><h6>{{a.nom}}</h6></mat-card-title>
                      <mat-card-subtitle>{{a.dateDeRendu | date}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-divider></mat-divider>
                  <img mat-card-image class="ImgMat" src="{{a.imageMatiere}}" alt="Photo de la matière">
                  <mat-card-content>
                    <mat-divider></mat-divider>
                    <span>Nom de l'élève: <h5>{{a.nomEleve}}</h5> </span>
                    <mat-divider></mat-divider>
                  </mat-card-content>
                  <mat-card-actions>
                      <button class="btn btn-sm btn-info" routerLink="/assignment/{{a.id}}">Détails</button>
                  </mat-card-actions>
              </mat-card>
                </div>
                </div>
                <div>
                  <br>
                <pagination-controls id="list_all" maxSize="5" (pageChange)="page =$event" directionLinks="true"  ></pagination-controls>
              </div>
            </div>
      <br>
                <!-- card view fin -->

        <div class="container" *ngSwitchCase="'rendu'">

                      <!-- debut card view -->
              <div class="container">
                <h4>Listes des devoirs rendus</h4>
                      <div fxLayout="row wrap" fxLayoutGap="16px grid">
                        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let a of assignementTrue | paginate: {
                id:'list_rendu',
                itemsPerPage: 4,
                currentPage: page,
                totalItems: totalRecords1
                }">
                      <mat-card class="example-card">
                         <ng-container>
                          <mat-card-header>
                              <div mat-card-avatar>
                                  <img mat-card-image class="ImgProf" src="{{a.imageProf}}" alt="Photo du prof">
                              </div>
                              <mat-card-title><h6>{{a.nom}}</h6></mat-card-title>
                              <mat-card-subtitle>{{a.dateDeRendu | date}}</mat-card-subtitle>
                          </mat-card-header>
                          <mat-divider></mat-divider>
                          <img mat-card-image class="ImgMat" src="{{a.imageMatiere}}" alt="Photo de la matière">
                          <mat-card-content>
                            <mat-divider></mat-divider>
                            <span>Nom de l'élève: <h5>{{a.nomEleve}}</h5> </span>
                            <mat-divider></mat-divider>
                          </mat-card-content>
                          <mat-card-actions>
                              <button class="btn btn-sm btn-info" routerLink="/assignment/{{a.id}}">Détails</button>
                          </mat-card-actions>
                         </ng-container>
                      </mat-card>
                        </div>
                      </div>
                        <div>
                          <br>
                           <pagination-controls id="list_rendu" maxSize="5" (pageChange)="page =$event" directionLinks="true"  ></pagination-controls>
                       </div>
                    </div>
          <br>
            <!-- card view fin -->

        </div>

        <div class="container" *ngSwitchCase="'autre'">
                   <!-- debut card view -->
                    <div class="container">
                      <h4 class="justify-content-center">Listes des devoirs non rendus</h4>
                      <div fxLayout="row wrap" fxLayoutGap="16px grid">
                        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let a of assignementfalse | paginate: {
                        id:'list_renduN',
                        itemsPerPage: 4,
                        currentPage: page,
                        totalItems: totalRecords2
                        }">

                      <mat-card class="example-card">
                         <ng-container>
                          <mat-card-header>
                              <div mat-card-avatar>
                                  <img mat-card-image class="ImgProf" src="{{a.imageProf}}" alt="Photo du prof">
                              </div>
                              <mat-card-title><h6>{{a.nom}}</h6></mat-card-title>
                              <mat-card-subtitle>{{a.dateDeRendu | date}}</mat-card-subtitle>
                          </mat-card-header>
                          <mat-divider></mat-divider>
                          <img mat-card-image class="ImgMat" src="{{a.imageMatiere}}" alt="Photo de la matière">
                          <mat-card-content>
                            <mat-divider></mat-divider>
                            <span>Nom de l'élève: <h5>{{a.nomEleve}}</h5> </span>
                            <mat-divider></mat-divider>
                          </mat-card-content>
                          <mat-card-actions>
                              <button class="btn btn-sm btn-info" routerLink="/assignment/{{a.id}}">Détails</button>
                          </mat-card-actions>
                         </ng-container>
                      </mat-card>
                        </div>

                      </div>
                      <div >
                        <br>
                           <pagination-controls id="list_renduN" maxSize="5" (pageChange)="page =$event" directionLinks="true"  ></pagination-controls>
                      </div>

                    </div>

            <!-- card view fin -->
        </div>
      <br>
        <p *ngSwitchDefault>output4</p>
    </span>
</main>
