/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error.mat-snack-bar-container{
  background: #cc0000;
  color: white;
}

.success.mat-snack-bar-container{
  background: #00cc00;
  color: white;
}

.info.mat-snack-bar-container{
  background: #008bcc;
  color: white;
}
